body {
  /*background-image: url("http://ak4.picdn.net/shutterstock/videos/5414864/thumb/1.jpg");*/
  /*background-image: url("http://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/265400/88808ba6c63dd5ce2b6ed1d2a9089534c4f4b503.jpg");*/
  background-image: url("https://i.pinimg.com/originals/81/4e/12/814e12ed3781f3b7c8dac676d3fddb33.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  color: white;
  font-family: fantasy;
  text-align: center;
}

button {
  text-align: center;
}
