body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  color: white;
  font-family: 'Copperplate';
  text-align: center;
  margin-top: 50px;
  font-size: 100px;
}

#array {
  color: white;
  font-size: 30px;
  font-family: 'Copperplate';
  margin-top: -65px;
  margin-left: 30px;
}

#select {
  float: right;
  margin-right: 30px;
  background: transparent;
  color: white;
  width: 100px;
  height: 35px;
  font-family: 'Copperplate';
  border: 2px solid white;
  font-size: 15px;
}

#select:hover {
  font-size: 17px;
	text-shadow: none;
}

button:focus {
  outline: none;
}

#tournament {
  border: none;
  background: transparent;
  color: white;
  font-size: 40px;
  font-family: 'Copperplate';
  display: inline;
}
